<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>23</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>3B1B616608E369BF207B8219D7E37FE8A47057CB</ManifestCertificateThumbprint>
    <ManifestKeyFile>Aplicatie_Scanner_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\andrei.stan\Documents\AS\Aplicatie Scanner\Aplicatie_Scanner\published\</PublishDir>
    <PublishUrl>C:\Users\andrei.stan\Documents\AS\Aplicatie Scanner\Aplicatie_Scanner\published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/Belfro/Aplicatie_Scanner/master/published/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>https://raw.githubusercontent.com/Belfro/Aplicatie_Scanner/master/published/</InstallUrl>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <UseApplicationTrust>False</UseApplicationTrust>
    <MinimumRequiredVersion>1.0.0.20</MinimumRequiredVersion>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.6 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>