<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>22</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>C:\Users\AndreiS\iCloudDrive\AS\Azel\Balkani\Aplicatie_Logare_Scada\Azel_Raportare_Balkani\Published\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestCertificateThumbprint>415730646FD3E7374E64EDFBBEB32C4296AC7F46</ManifestCertificateThumbprint>
    <ManifestKeyFile>Azel_Raportare_Balkani_1_TemporaryKey.pfx</ManifestKeyFile>
    <InstallUrl>https://raw.githubusercontent.com/Belfro/Azel_Raportare_Balkani/Scada_Balkani/Published/</InstallUrl>
    <UpdateUrl>https://raw.githubusercontent.com/Belfro/Azel_Raportare_Balkani/Scada_Balkani/Published/</UpdateUrl>
    <History>True|2023-09-25T08:22:56.3266476Z;True|2023-09-06T11:23:31.1671705+03:00;True|2023-09-06T11:00:23.2731635+03:00;True|2023-09-06T10:06:24.2507049+03:00;True|2023-09-06T09:58:41.8949360+03:00;True|2023-07-13T12:52:57.6880432+03:00;True|2023-07-06T14:23:51.8041868+03:00;True|2023-07-06T14:13:12.5294897+03:00;True|2023-07-06T13:57:11.0755236+03:00;True|2023-07-06T13:56:51.4800430+03:00;True|2023-07-06T13:28:27.7696675+03:00;True|2023-07-05T13:26:13.5271391+03:00;True|2023-07-05T12:51:51.7980867+03:00;True|2023-06-27T16:16:57.1206436+03:00;True|2023-06-27T16:10:18.3913289+03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x86">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 6.0.15 (x86)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>