<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SampleDB" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=Euro_MGA; Integrated Security=False;User ID=siemens;Password=siemens;Connection Timeout=4"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
